body {
  background-color: black;
  color: white;
}

body, button {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
}

#controls {
  background-color: #333333;
  height: 10vh;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#controls, #slider-container {
  display: flex;
  flex-direction: row;
}

.control-item {
  margin: 15px;
}

#container {
  height: 90vh;
  width: 75%;
  margin: 0 auto;
}

#canvas {
  /* background: rgba(128, 128, 128, 0.253); */
  height: 100%;
  width: 100%;
}

.swap {
  fill: #F80704;
}

.current {
  /* fill: #AFEEEE; */
  fill: #041DFCAB;
}

.minimum {
  fill: #98FB98;
}

.success {
  fill: #1C8404;
}

.midpoint {
  fill: #4b2e83
}

.pivot {
  fill: purple;
}
